// Variable overrides

// Para alterar as cores, basta passar o nome da variável e atribuir uma nova cor
$primary: #ff6a00;

$primary-base: #78777c;

$secondary: #231f20;

$secondary-base: #e29b62;

$text-primary: #231f20;
