// Variable overrides

// Para alterar as cores, basta passar o nome da variável e atribuir uma nova cor

$primary: #ff6a00;

$primary-base: #78777c;

$secondary: #e29b62;

$bg-secondary: #e29b62;

$secondary-base: #e29b62;

$text-primary: #231f20;

$text-secondary: #231f20;

$dark: #231f20;

$c-sidebar-nav-item: green;

$sidebar-dark-nav-link-icon-color: $dark;

$sidebar-dark-nav-link-color: $dark;

$sidebar-dark-nav-link: $text-primary;

$c-sidebar-nav: $text-primary;

$c-sidebar-nav-dropdown: red;


$c-sidebar-nav-dropdown-toggle: $text-primary;

// $c-sidebar-nav-dropdown-toggle: red;

// $c-sidebar-nav-dropdown-toggle: $text-primary;

// $sidebar-dark-nav-link-hover-color: $text-primary;

// $sidebar-dark-nav-link-hover-bg: white;

// $sidebar-dark-nav-link-hover-icon-color:  $text-primary;

// $c-sidebar-nav-dropdown: red;
